body, div, nav, main, section, h1, h2, ul, li, article{
 background-color: black;
 color: wheat;
    font-family: 'Times New Roman', Times, serif;
    padding: 0%;
    margin: 0%;
}

p{
    font-size: 18px;
}
header{
    text-align: center;
    position: fixed;
    /* width: 100%; */
    top: 0;
    left: 0;
    z-index: 1;
    max-width: 100%;
    width: 100%;
  }
header h1{
    border: 10px solid grey;
    /* font-size: 50px; */
    padding: 20px;
    text-align: center;
}

.banner{
    /* width: 10px; */
    /* max-width: 100px; */
    margin-top: 97px;
    position: relative;
    /* width: 1200px; */
    /* max-width: 140%; */
    /* width: 120%; */
}
.banner img{
    /* max-width: fit-content;
    align-content: center;
max-width: fit-content; */
max-width: 100%;
width: 160%;
/* width: 12005px; */
}
.banner .welcome{
    position: absolute;
    padding: 2%;
    top: 30%;
    left: 33%;
    opacity: 90%;
    width: 30%;
    /* height: 20%; */
    font-size: 300%;
}
.welcome h2{
    position: relative;
    /* margin: 4%; */
    padding: 4%;
 border: grey 6px solid;
 text-align: center;
 font-size: 90%;
 color: w;
}
.welcome h2 strong{
    font-size: 48px;
    font-size: 1.2em;
}

nav.main-Nav{
    border: 10px solid grey;
    /* opacity: 80%; */
    /* display: block; */
    position: sticky;
    top: 88px;
    bottom: 88px;
    /* bottom: 1; */
    z-index: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: -1%;
    /* padding: 20px; */
    /* width: 1000px; */
    /* max-width: 158%; */
    /* width: 96.8%; */
}
nav.main-Nav ul{
    /* margin-left: 4%; */
    /* position: relative; */
    white-space: nowrap;
    max-width: 1200px; 
    margin: 0 auto;
    text-align: center;
    /* display: block; */
}
nav.main-Nav li{
    text-align: center;
    margin: 0%;
    /* margin-right: 7px; */
    display: inline-block;
    width: 19%;
    font-size: 200%;
}

.main-Nav li a{
    text-align: center;
    text-decoration: none;
    color: wheat;
    /* font-size: 130%; */
}
nav.main-Nav li a:hover{
    text-decoration: underline;
}

main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}
main article p{
    /* padding: 40px; */
    margin-top: 20px;
    text-align:justify;
    font-size:24px;
    max-width: 100%;
    width: 1200px;
    color: white;
}
article h2{
    line-height: 1.2em;
    font-size: 35px;
    /* margin-bottom:px ; */
}


ul.images {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    /* align-items: center; */
    /* margin-right: 18%; */
    /* display: inline; */
}

ul.images li{
    list-style-type: none;
    display: inline-block;
    width: 40%;
}
main ul.images li img.rally{
    border: 5px solid wheat;
    /* margin-left: 50%; */
    margin-left: -15%;
    max-width: 134%;
}
main ul.images li img.vd{
    border: 5px solid wheat;
    margin-left: -15%;
    max-width: 134%;
}

section.join{
    margin-top: 20px;
    padding-top: 4px;
    text-align: center;
    padding-bottom: 40px;
    background-color: rgb(55, 51, 51);
    /* display: inline; */
    /* max-width: 100%; */
    padding: 4%;
}
section.join h2{
    text-align: center;
    margin-top: 20px;
    background-color: rgb(55, 51, 51);
    font-size: 50px;
}
section.join p{
    margin-left: auto;
    margin-right: auto;
    font-size:x-large;
    text-align: center;
}
form input{
    border-color: saddlebrown;
    border-style: double;
    font-size: x-large;
    padding: 10px;
    border-radius: 30px;
    margin: 20px 0;
}
section.join form input:hover{
    border-style: solid;
    border-width: 5px;
}
section.join form input:valid{
    border: 5px solid green;
}

footer{
   /* max-width: 100%; */
   /* width: 100%; */
    background-color: grey;
    text-align: center;
    color: black;
    padding-top: 1%;
    padding-bottom: 1%;
}
 /* for the next links */
 nav.next{
    border: 10px solid grey;
    /* opacity: 80%; */
    /* display: block; */
    position: sticky;
    /* top: 88px; */
    bottom: 0;
    /* bottom: 1; */
    z-index: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    /* padding: 20px; */
    /* width: 1000px; */
    /* max-width: 158%; */
    /* width: 96.8%; */
}
nav.next ul{
    /* margin-left: 4%; */
    /* position: relative; */
    white-space: nowrap;
    max-width: 1200px; 
    margin: 0 auto;
    text-align: center;
    /* display: block; */
}
nav.next li{
    text-align: center;
    margin: 0%;
    /* margin-right: 7px; */
    display: inline-block;
    width: 19%;
    font-size: 200%;
}

 nav.next li a{
    text-align: center;
    text-decoration: none;
    color: wheat;
     /* font-size: 130%;  */
} 
nav.next li a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 960px){

    main{
        max-width: 100%;
        width: 1200px;
        margin: 80px auto;
        padding: 0 40px;
        box-sizing: border-box;
    }
    main article p{
        /* padding: 40px; */
        margin-top: 20px;
        text-align:justify;
        font-size: 18px;
        max-width: 100%;
        width: 1200px;
        color: white;
    }
    article h2{
        line-height: 1.2em;
        font-size: 35px;
        /* margin-bottom:px ; */
    }

    section.join{
        margin-top: 20px;
        padding-top: 4px;
        text-align: center;
        padding-bottom: 40px;
        background-color: rgb(55, 51, 51);
        /* display: inline; */
        /* max-width: 100%; */
        padding: 4%;
        height: 30%;
    }
section.join h2{
    text-align: center;
    margin-top: 20px;
    background-color: rgb(55, 51, 51);
    font-size: 30px;
}
section.join p{
    margin-left: auto;
    margin-right: auto;
    font-size:large;
    text-align: center;
}
form input{
    border-color: saddlebrown;
    border-style: double;
    font-size: x-large;
    padding: 10px;
    border-radius: 30px;
    margin: 20px 0;
}
section.join form input:hover{
    border-style: solid;
    border-width: 5px;
}
section.join form input:valid{
    border: 5px solid green;
}
    nav.main-Nav{
        border: 10px solid grey;
        /* opacity: 80%; */
        /* display: block; */
        position: sticky;
        top: 88px;
        bottom: 88px;
        /* bottom: 1; */
        /* margin-top: -108px; */
        z-index: 1;
        padding-top: 20px;
        padding-bottom: 20px;
        /* padding: 20px; */
        /* width: 1000px; */
        /* max-width: 158%; */
        /* width: 96.8%; */
    }
    nav.main-Nav ul{
        /* margin-left: 4%; */
        /* position: relative; */
        white-space: nowrap;
        max-width: 1200px; 
        margin: 0 auto;
        margin-left: 4%;
        text-align: center;
        /* display: block; */
    }

 nav.main-Nav li{
    text-align: left;
    margin: 0%;
    margin-left: 2px;
    margin-right: 7px; 
    display: inline-block;
    width: 15%;
    font-size: 100%;
} 
nav.main-Nav li.mario{
    text-align: left;
    margin: 0%;
    margin-left: 30px;
    margin-right: 7px; 
    display: inline-block;
    width: 15%;
    font-size: 100%;
}
.main-Nav li a{
    text-align: center;
    text-decoration: none;
    color: wheat;
    /* font-size: 100%; */
}

.banner .welcome{
    position: absolute;
    padding: 2%;
    top: 15%;
    left: 30%;
    opacity: 90%;
    width: 40%;
    /* height: 20%;  */
    font-size: 100%;
}
.welcome h2{
    position: relative;
    margin: 4%;
    padding: 4%;
 border: grey 6px solid;
 text-align: center;
 font-size: 90%;
 color: w;
}
.welcome h2 strong{
    font-size: 48px;
    font-size: 1.2em;
} 

nav.next{
    border: 10px solid grey;
    /* opacity: 80%; */
    /* display: block; */
    position: sticky;
    top: 88px;
    /* bottom: 1; */
    /* margin-top: -108px; */
    z-index: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    /* padding: 20px; */
    /* width: 1000px; */
    /* max-width: 158%; */
    /* width: 96.8%; */
}
nav.next ul{
    /* margin-left: 4%; */
    /* position: relative; */
    white-space: nowrap;
    max-width: 1200px; 
    margin: 0 auto;
    /* margin-left: 4%; */
    text-align: center;
    /* display: block; */
}

nav.next li{
text-align: left;
margin: 0%;
/* margin-left: 2px; */
/* margin-right: 7px;  */
display: inline-block;
margin-right: -2%;
font-size: 100%;
text-align: center;
} 
/* nav.next li.mario{
    position: relative;
text-align: left;
margin: 0%;
margin-left: 30px;
margin-right: 7px; 
display: inline-block;
width: 20%;
font-size: 100%;
} */
.next li a{
text-align: center;
text-decoration: none;
color: wheat;
/* font-size: 130%; */
}
 }


